.online-user-list-item-wrapper {
	.ant-list-item-meta {
		align-items: center;
	}

	padding: 5px 0 !important ;
	.user-desc {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
