**/*.svg
package.json
package-lock.json
/node_modules
/dist
.DS_Store
.eslintignore
*.png
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
/public
.eslintrc
.prettierrc
**/*.otf
**/*.snap