.home-wrapper {
	display: grid;
	grid-template-columns: auto 350px;
	column-gap: 20px;
	.left {
		display: grid;
		grid-template-rows: 3fr 2fr;
		row-gap: 20px;
	}
	.right {
		display: grid;
		grid-template-rows: min-content auto;
		row-gap: 20px;
	}
}
