.room-wrapper .player-place-wrapper {
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		.name {
			margin-top: 10px;
			font-size: 20px;
			font-weight: bold;
		}
		.trophy {
			margin-top: 10px;
			font-size: 30px;
		}
		.rate {
			margin-top: 10px;
		}
		.count {
			.ant-tag {
				transform: scale(1.5);
				margin: 0 20px;
			}
			margin-top: 15px;
		}
	}
	border: solid #40a9ff 1px;
	border-radius: 5px;
}
